## Medical Insurance Project: Python Strings
You are a doctor who needs to clean up medical patient records, which are currently stored in one large string.

In [2]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""

### Task 1:
The string `medical_data` stores the medical records for ten individuals. Each record is separated by a `;` and contains the name, age, BMI (body mass index), and insurance cost for an individual, in that order.

Print `medical_data` to see the output in the terminal

In [3]:
print(medical_data)

Marina Allison   ,27   ,   31.1 ,
#7010.0   ;Markus Valdez   ,   30,
22.4,   #4050.0 ;Connie Ballard ,43
,   25.3 , #12060.0 ;Darnell Weber
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1
,#3022.0   ;   Vinay Padilla,24,
26.9 ,#4620.0 ;Meredith Santiago, 51   ,
29.3 ,#16330.0;   Andre Mccarty,
19,22.7 , #2900.0 ;
Lorena Hodson ,65, 33.1 , #19370.0;
Isaac Vu ,34, 24.8,   #7045.0

### Task 2:
We want the insurance costs to be represented in US dollars.

Replace all instances of `#` in `medical_data` with `$`. Store the result in a variable called `updated_medical_data`.

Print `updated_medical_data`.

In [4]:
updated_medical_data = medical_data.replace("#", "$")
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

### Task 3:
We want to calculate the number of medical records in our data.

Create a variable called `num_records` and initialize it at 0.

In [5]:
num_records = 0

### Task 4:
Write a `for` loop to iterate through the `updated_medical_data` string. Inside of the loop, add `1` to `num_records` when the current character is equal to `$`.

In [6]:
for character in updated_medical_data:
  if character == '$':
    num_records += 1

### Task 5:
Outside of the loop, print `num_records` with the following message:

`There are {num_records} medical records in the data.`

In [7]:
print("There are " + str(num_records) + " medical records in the data")

There are 10 medical records in the data

### Task 6:
The medical data in its current form is difficult to analyze. An essential job for a data scientist is to clean up data so that it’s easy to work with.

Let’s start off by splitting the `updated_medical_data` string into a list of each medical record. Remember that each medical record is separated by a `;` in the string.

Store the result in a variable called `medical_data_split` and print this variable.

In [8]:
medical_data_split = updated_medical_data.split(";")
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

### Task 7:
Our data is now stored in a list, but it is still hard to read. Let’s split each medical record into its own list.

First, define an empty list called `medical_records`.

In [9]:
medical_records = []

### Task 8:
Next, iterate through `medical_data_split` and for each record, split the string after each comma (`,`) and append the split string to `medical_records`.

Print `medical_records` after the loop.

In [10]:
for record in medical_data_split:
  medical_records.append(record.split(','))
print(medical_records)

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

### Task 9:

Our data is now slightly more readable. However, it is not properly formatted – it contains unnecessary whitespace.

To fix this, let’s start by creating an empty list called `medical_records_clean`.

In [11]:
medical_records_clean = []

### Task 10:
Next, use a for loop to iterate through `medical_records`.

Inside of the loop, create an empty list called `record_clean`. We’ll use this list to store a formatted version of each medical record.

After the `record_clean` variable, create a nested `for` loop that goes through each record
Inside of this loop, append `item.strip()` to `record_clean` to remove any whitespace from the string.
Finally, we need to add each cleaned up record to `medical_records_clean`.

Outside of the nested `for` loop, append `record_clean` to `medical_records_clean`.

In [12]:
medical_records_clean = []
for record in medical_records:
  record_clean = []
  for item in record:
    record_clean.append(item.strip())
  medical_records_clean.append(record_clean)

### Task 11:
Print medical_records_clean outside of the `for` loops to see the output.

In [13]:
print(medical_records_clean)

[['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

### Task 12:

Our data is now clean and ready for analysis.
For example, to print out the names of each of the ten individuals, we can use a `for` loop.
You want all of the names in the medical records to be in uppercase characters.

In the `for` loop, update `record[0]` before the `print` statement so that all of the characters are uppercase.

In [14]:
for record in medical_records_clean:
  record[0] = record[0].upper()
  print(record[0])

MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER
SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY
LORENA HODSON
ISAAC VU

### Task 13:
Let’s store each name, age, BMI, and insurance cost in separate lists.
To start, create four empty lists:

- `names`
- `ages`
- `bmis`
- `insurance_costs`

In [15]:
names = []
ages = []
bmis = []
insurance_costs = []

### Task 14:

Next, iterate through medical_records_clean and for each record:

- Append the name to `names`.
- Append the age to `ages`.
- Append the BMI to `bmis`.
- Append the insurance cost to `insurance_costs`.

In [16]:
for record in medical_records_clean:
  names.append(record[0])
  ages.append(record[1])
  bmis.append(record[2])
  insurance_costs.append(record[3])

### Task 15:
Print `names`, `ages`, `bmi`s, and `insurance_costs` outside of the loop.

In [17]:
print("Names: " + str(names))
print("Ages:" + str(ages))
print("bmis:" + str(bmis))
print("insurance_costs: " + str(insurance_costs))

Names: ['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU']
Ages:['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']
bmis:['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']
insurance_costs: ['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

### Task 16:
Now that all of our data is in separate lists, we can easily perform analysis on that data. Let’s calculate the average BMI in our dataset.

First, create a variable called `total_bmi` and set it equal to 0.
Next, use a `for` loop to iterate through `bmis` and add each `bmi` to `total_bmi`.

Remember to convert `bmi` to a float.

After the for loop, create a variable called `average_bmi` that stores the `total_bmi` divided by the length of the `bmis` list.
Print out `average_bmi`

In [18]:
total_bmi = 0
for bmi in bmis:
  total_bmi += float(bmi)
  average_bmi = round(total_bmi/len(bmis),2)
  print("Average BMI: " + str(average_bmi))

Average BMI: 3.11
Average BMI: 5.35
Average BMI: 7.88
Average BMI: 9.94
Average BMI: 12.15
Average BMI: 14.84
Average BMI: 17.77
Average BMI: 20.04
Average BMI: 23.35
Average BMI: 25.83

### Task 17:
Calculate the average insurance cost in insurance_costs. You will have to remove the `$` in order to calculate this.
Write a for loop that outputs a string for each individual in the following format:

`Marina is 27 years old with a BMI of 31.1 and an insurance cost of $7010.0.`

In [20]:
for record in medical_records_clean:
    name = record[0]
    age = record[1]
    bmi = record[2]
    insurance_cost = record[3]

    output_string =  name + " is " + age + " years old with a BMI of " + bmi + " and an insurance cost of " + insurance_cost
    print(output_string)

MARINA ALLISON is 27 years old with a BMI of 31.1 and an insurance cost of $7010.0
MARKUS VALDEZ is 30 years old with a BMI of 22.4 and an insurance cost of $4050.0
CONNIE BALLARD is 43 years old with a BMI of 25.3 and an insurance cost of $12060.0
DARNELL WEBER is 35 years old with a BMI of 20.6 and an insurance cost of $7500.0
SYLVIE CHARLES is 22 years old with a BMI of 22.1 and an insurance cost of $3022.0
VINAY PADILLA is 24 years old with a BMI of 26.9 and an insurance cost of $4620.0
MEREDITH SANTIAGO is 51 years old with a BMI of 29.3 and an insurance cost of $16330.0
ANDRE MCCARTY is 19 years old with a BMI of 22.7 and an insurance cost of $2900.0
LORENA HODSON is 65 years old with a BMI of 33.1 and an insurance cost of $19370.0
ISAAC VU is 34 years old with a BMI of 24.8 and an insurance cost of $7045.0