In [2]:
import pandas as pd

Import all the files

In [3]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [4]:
print(visits.head(5))
print(cart.head(5))
print(checkout.head(5))
print(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [5]:
visit_cart = pd.merge(visits,cart, how = 'left')
print(visit_cart)

                                   user_id          visit_time  \
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1     0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2     6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
...                                    ...                 ...
1995  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00
1996  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00
1997  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00
1998  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00
1999  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00

               cart_time
0                    NaT
1    2017-01-26 14:44:00
2    2017-08-20 08:31:00
3                    NaT
4                    NaT
...                  ...
1995                 NaT
1996                 NaT
1997                 NaT
1998                 NaT
1999                 NaT

[2000 rows x 3 columns]

Step 3: How long is `visits_cart`?

In [6]:
print(len(visit_cart))

2000

Step 4: How many timestamps are null for `cart_time`?

In [7]:
visit_cart[visit_cart.cart_time.isnull()]

                                   user_id          visit_time cart_time
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00       NaT
3     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00       NaT
4     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00       NaT
5     7bc62113-d51d-4e6b-85e0-1cf29e3de74a 2017-06-03 20:05:00       NaT
6     6f22cd44-bc63-4449-a9af-2651859da2f9 2017-03-18 23:09:00       NaT
...                                    ...                 ...       ...
1995  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00       NaT
1996  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00       NaT
1997  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00       NaT
1998  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00       NaT
1999  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00       NaT

[1652 rows x 3 columns]

Step 5: What percentage only visited?

In [8]:
percentage_only_visited = (len(visit_cart[visit_cart.cart_time.isnull()])/2000)*100
print(percentage_only_visited,'%')

82.6 %

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [9]:
#merging the cart and checkout with left join to find out who put items in the cart but did not checkout
cart_checkout = pd.merge(cart,checkout, how = 'left')
print(cart_checkout)
cart_checkout[cart_checkout.checkout_time.isnull()]

not_checkout_users_percentage = (len(cart_checkout[cart_checkout.checkout_time.isnull()]) / len(cart_checkout['cart_time']))*100
print(not_checkout_users_percentage, '%')

                                  user_id           cart_time  \
0    2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1    4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2    a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3    b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4    a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
..                                    ...                 ...
343  952be3a5-9240-484f-845c-a6b2cbed72ee 2017-05-02 05:40:00
344  59d2b685-383a-4fce-a325-35d985713a8b 2017-01-20 03:58:00
345  a1203970-92ae-4fc7-843e-e1740c1be9d5 2017-11-12 23:07:00
346  55de53ae-89f6-43ff-a26d-df284678aca1 2017-03-17 19:56:00
347  0ea4cc68-dae4-4e35-b3e0-f0889932e1b5 2017-05-12 08:53:00

          checkout_time
0   2017-11-07 21:14:00
1                   NaT
2   2017-03-04 11:04:00
3   2017-09-27 08:26:00
4                   NaT
..                  ...
343 2017-05-02 05:50:00
344                 NaT
345                 NaT
346 2017-03-17 20:04:00
347 2017-05-12 08:57:00

[348 rows x 3 columns]
35.05747126436782 %

Step 7: Merge it all together

In [15]:
#merging all the data into one dataframe

all_data = visits.merge(cart, how='left').merge(cart_checkout, how='left').merge(purchase, how='left')
print(all_data.head(10))

                                user_id          visit_time  \
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
5  7bc62113-d51d-4e6b-85e0-1cf29e3de74a 2017-06-03 20:05:00
6  6f22cd44-bc63-4449-a9af-2651859da2f9 2017-03-18 23:09:00
7  49a6399b-c095-4e42-92eb-af90abe2bb6a 2017-01-10 12:09:00
8  653c095d-fd74-40dd-ae3b-5a69a2613629 2017-06-27 19:21:00
9  3d9fdac1-aae3-4a01-b448-934d12047468 2017-09-24 06:43:00

            cart_time       checkout_time       purchase_time
0                 NaT                 NaT                 NaT
1 2017-01-26 14:44:00 2017-01-26 14:54:00 2017-01-26 15:08:00
2 2017-08-20 08:31:00                 NaT                 NaT
3                 NaT                 NaT                 NaT
4                 NaT                 NaT                 NaT
5                 NaT                 NaT                 NaT
6                 NaT                 NaT                 NaT
7                 NaT                 NaT                 NaT
8                 NaT                 NaT                 NaT
9                 NaT                 NaT                 NaT

Step 8: % of users who got to checkout but did not purchase

In [16]:
reached_checkout = all_data[~all_data.checkout_time.isnull()]

checkout_not_purchase = all_data[(all_data.purchase_time.isnull()) & (~all_data.checkout_time.isnull())]

checkout_not_purchase_percent = float(len(checkout_not_purchase)) / float(len(reached_checkout))

print("% of users who got to checkout but did not purchase:",checkout_not_purchase_percent)

% of users who got to checkout but did not purchase: 0.24550898203592814

Step 9: check each part of the funnel, let's print all 3 of them again

In [21]:
print("{} percent of users who visited the page did not add a t-shirt to their cart".format(round(percentage_only_visited, 2)))
print("{} percent of users who added a t-shirt to their cart did not checkout".format(round(not_checkout_users_percentage, 2)))
print("{} percent of users who made it to checkout  did not purchase a shirt".format(round(checkout_not_purchase_percent*100, 2)))

82.6 percent of users who visited the page did not add a t-shirt to their cart
35.06 percent of users who added a t-shirt to their cart did not checkout
24.55 percent of users who made it to checkout  did not purchase a shirt

*The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: adding new column

In [22]:
all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time

Step 11: examine the results

In [23]:
print(all_data.time_to_purchase)

0                  NaT
1      0 days 00:44:00
2                  NaT
3                  NaT
4                  NaT
             ...
2103               NaT
2104               NaT
2105               NaT
2106               NaT
2107               NaT
Name: time_to_purchase, Length: 2108, dtype: timedelta64[ns]

Step 12: average time to purchase

In [24]:
print(all_data.time_to_purchase.mean())

0 days 00:43:12.380952380